.jumbotron {
  background: #E7F6F0;
  padding-bottom: 80px; 
}

.htmlview { 
  margin: 5px 0;
  padding: 0 5px 5px 5px; 

  max-width: 100%;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;
 }
 .blue {
color:blue;
}
  .list-group{
    width: 200px;
  }
    .tag_link {
        cursor: pointer;
        color: #00f;
        text-decoration: underline;
    }